<template>
  <div
    :class="{
      'body-width': mobile,
      'fill-height': mobile,
      white: mobile
    }"
  >
    <v-container
      :class="{
        'px-12': !mobile,
        'py-12': !mobile,
        'pa-0': mobile
      }"
      class="body-width white mx-auto"
    >
      <div
        v-if="mobile && (!views || (views && views.length < 1))"
        class="px-8 py-12 text-center headline grey--text"
      >
        No whakapapa record found
      </div>
      <v-row v-for="view in views" :key="view.id" dense class="mb-2">
        <v-col cols="12">
          <WhakapapaViewCard :view="view" cropDescription />
        </v-col>
      </v-row>

      <!-- Don't think this should be here -->
      <div
        @click="toggleViewForm"
        :class="{
          'text-center': mobile
        }"
        class="mt-8 mb-4"
      >
        <v-btn fab :small="mobile">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
        <span class="pointer black--text pl-4 subtitle"
          >Create new whakapapa</span
        >
      </div>

      <NewViewDialog
        :show="showViewForm"
        @close="toggleViewForm"
        @submit="handleStepOne($event)"
      />
      <NewNodeDialog
        v-if="showProfileForm"
        :show="showProfileForm"
        title="Create new Person"
        :withRelationships="false"
        @close="toggleProfileForm"
        @submit="handleDoubleStep($event)"
      />
    </v-container>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import pick from 'lodash.pick'
import isEmpty from 'lodash.isempty'
import WhakapapaViewCard from '@/components/whakapapa-view/WhakapapaViewCard.vue'
import NewViewDialog from '@/components/dialog/NewViewDialog.vue'
import NewNodeDialog from '@/components/dialog/NewNodeDialog.vue'

const saveWhakapapaViewQuery = gql`
  mutation($input: WhakapapaViewInput) {
    saveWhakapapaView(input: $input)
  }
`

const saveProfileQuery = gql`
  mutation($input: ProfileInput!) {
    saveProfile(input: $input)
  }
`

// TEMPORARY should be Query for all views

export default {
  name: 'WhakapapaIndex',
  data() {
    return {
      views: [],

      whoami: {},
      showProfileForm: false,
      showViewForm: false,
      newView: null
    }
  },
  computed: {
    mobile() {
      return this.$vuetify.breakpoint.xs
    }
  },
  apollo: {
    whoami: {
      query: gql`
        {
          whoami {
            profile {
              id
            }
            feedId
          }
        }
      `,
      fetchPolicy: 'no-cache'
    },
    views: {
      query: gql`
        {
          whakapapaViews {
            id
            name
            description
            image {
              uri
            }
          }
        }
      `,
      update: data => data.whakapapaViews,
      fetchPolicy: 'no-cache'
    }
  },
  methods: {
    toggleProfileForm() {
      this.showProfileForm = !this.showProfileForm
    },
    toggleViewForm() {
      if (!this.showViewForm && this.mobile) {
        window.scrollTo({
          top: 0,
          left: 0,
          behavior: 'smooth'
        })
      }
      this.showViewForm = !this.showViewForm
    },
    async handleStepOne($event) {
      this.newView = {
        ...pick($event, ['name', 'description', 'image']),
        focus: this.whoami.profile.id,
        mode: 'descendants', // HARD coded at the moment
        recps: [this.whoami.feedId] // TODO change this for groups
      }

      switch ($event.focus) {
        case 'self':
          return this.createView(this.newView)
        case 'new':
          return this.toggleProfileForm()
        default:
      }
    },
    async createView(input) {
      const pruned = {}
      Object.entries(input).forEach(([key, value]) => {
        if (!isEmpty(value)) pruned[key] = value
      })

      try {
        const result = await this.$apollo.mutate({
          mutation: saveWhakapapaViewQuery,
          variables: {
            input: pruned
          }
        })
        if (!result.data) {
          console.log('Something bad happened here...')
          return
        }

        this.$router.push({
          name: 'whakapapaShow',
          params: { id: result.data.saveWhakapapaView }
        })
      } catch (err) {
        throw err
      }
    },
    async handleDoubleStep($event) {
      try {
        const res = await this.$apollo.mutate({
          mutation: saveProfileQuery,
          variables: {
            input: {
              ...$event,
              type: 'person'
            }
          }
        })
        if (res.errors) {
          console.log('failed to create profile', res)
          return
        }

        this.createView({
          ...this.newView,
          focus: res.data.saveProfile
        })
      } catch (err) {
        throw err
      }
    }
  },
  components: {
    WhakapapaViewCard,
    NewViewDialog,
    NewNodeDialog
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.body-width {
  max-width: 900px;
}
.pointer {
  cursor: pointer;
}

.cover-image {
  min-width: 150px;
  width: 150px;
  background-color: #fff;
  background-position: center center;
}
</style>
